<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Pegaqui</title> <!--  -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> <!-- padrão -->
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" /> <!-- padrão -->
    <link rel="stylesheet" href="~/Pegaqui.styles.css" asp-append-version="true" /> <!-- padrão -->
    <link rel="preconnect" href="https://fonts.googleapis.com"> <!-- não sei, inseri a fonte opensans atoa? -->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> <!-- não sei -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet"> <!-- fonte OpenSans usada no projeto -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" /> <!-- fonte do icone de pesquisa -->

    <!-- usando o style para sobrescrever a formatação padrão -->
    <style>
        header {
            background-color: #0069FF;
            padding-block: 10px; /* padding: espaço do elemento com o limite da tela (eu acho) */
            /* se fosse margin iria ter uma margem do elemento com o limite da tela, o padding aumenta o tamanho do elemento */
        }

        .btn-header {
            color: #FFB200; /* cor do botão */
            background-color: transparent; /* não quero um botão de fato, o texto é o botão */
            text-align: center; /* alinhando horizontalmente o texto no centro */
            font-weight: bold; /* intensidade do texto */
            border: transparent;
        }

        .form-control {
            border-radius: 45px;
            border: 0 none; /* tamanho da porda (px) e a cor */
            outline: none;
        }

        .form-label {
            text-indent: 10px;
        }

        input::placeholder {
            color: black; /* pseudo-seletor que faz com que o texto dos placeholders sejam pretos */
        }

        .material-symbols-outlined {
            vertical-align: middle; /* alinhamento vertical do icon em relação ao bloco em que ele está */
        }
        .modal-dialog {
            padding: 0 0 0 0;
            background-color: transparent;
        }

        .modal-content {
            padding:inherit;
            background-color: #FFCB42;
            border-radius: 30px;
        }

        .modal-header {
            padding: 10px 10px 0 0;
            border-bottom-color: #FFCB42;
        }

        .modal-title {
            padding: inherit;
            text-align: center;
            vertical-align: middle;
            font-weight: bold;
            font-size: x-large;
        }

    </style>
</head>

    <body>
    <header>
        <nav class="container-fluid justify-content-center"> <!-- container-fluid: container que ocupa 100% da largura disponível -->
                <div class="row d-flex flex-md-fill px-2 px-md-2"> <!-- row: dentro do container tem uma linha. flex-md-fill: em dispositivos com telas maiores ou igual a média, tem flex-fill que significa ocupar toda a linha. px-2: padding horizontal: 2. px-md-4: em dispositivos com telas maiores ou iguais a média, tem padding horizontal 4. -->
                    <div class="col-auto"> <!-- col: o elemento está sendo representado por uma coluna dentro da linha, flex-grow-0 é uma relação para fazer outro elemento crescer -->
                        <a class="logo" style="font-weight:bold; color: #FFB200;" asp-controller="Home" asp-action="Index">Pegaqui</a>
                    </div>
                <div class="col flex-grow-1 d-none d-sm-block"> <!-- d-none: elemento escondido em todas as telas. d-md-block: em dispositivos com telas maiores ou iguais que a média (786px) esse elemento é um bloco -->
                    <!-- flex-grow-1, o 1 eu acredito que seja como um booleano para indicar que este cresce tanto quanto pode -->
                        <div class="input-group"> <!-- input-group: grupo de input -->
                            <div class="col-auto pesquisa-lupa"> 
                                <span class="material-symbols-outlined">
                                    search
                                </span> <!-- copiado e colado do google fonts -->
                            </div>
                        <input class="col pesquisa-input" type="text" placeholder="O que você está buscando?" aria-label="campoPesquisa">
                        </div>                                         
                    </div> 
                    <div class="col-auto">
                        <button type="button" class="btn-header" data-bs-toggle="modal" data-bs-target="#cadastroModal">Cadastre-se</button>
                    </div>
                    <div class="col-auto">
                        <button type="button" class="btn-header" data-bs-toggle="modal" data-bs-target="#loginModal">Login</button>
                    </div>
                </div>
        </nav>
    </header>

    <!-- Modal de Cadastro -->
    <div class="modal fade" id="cadastroModal" tabindex="-1" aria-labelledby="cadastroModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center w-100" id="cadastroModalLabel">Cadastro</h5> <!-- text-center: classe que faz com que o elemento fique no centro do container-pai, w-100 é ficar em relação a 100%  da largura-->
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="mb-3">
                            <label for="nome" class="form-label">Nome de usuário</label>
                            <input type="text" class="form-control" placeholder="Digite seu nome de usuário">
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">E-mail</label>
                            <input type="text" class="form-control" placeholder="Digite seu e-mail">
                        </div>
                        <div class="mb-3">
                            <label for="senha" class="form-label">Senha</label>
                            <input type="password" class="form-control" placeholder="Digite sua senha">
                        </div>
                        <div class="mb-3">
                            <label for="senha" class="form-label">Confirme sua senha</label>
                            <input type="password" class="form-control" placeholder="Digite sua senha novamente">
                        </div>
                        <div class="mb-3 form-check">
                            <input type="checkbox" class="form-check-input">
                            <label class="form-check-label" for="formCheck">Li e aceito os termos de uso da plataforma</label>
                        </div>
                        <div class="mb-3 text-center">
                            <button type="submit" class="btn btn-modal-1">Cadastrar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal de Login -->
    <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center w-100" id="loginModalLabel">Login</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="post" asp-controller="Home" asp-action="Login">
                        <div class="mb-3"> <!-- mb: margin-bottom. 3: 3rem -->
                            <label for="email" class="form-label">E-mail</label>
                            <input type="text" class="form-control" placeholder="Digite seu e-mail" name="email">
                        </div>
                        <div class="mb-3">
                            <label for="senha" class="form-label">Senha</label>
                            <input type="password" class="form-control" placeholder="Digite sua senha" name="senha">
                        </div>
                        @*<div class="mb-3 form-check">
                            <input type="checkbox" class="form-check-input">
                            <label class="form-check-label" for="formCheck">Lembrar informações</label>
                        </div>*@
                        <div class="mb-3 text-center">
                            <button type="submit" class="btn btn-modal-1">Entrar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

        <div class="container">
            <main role="main">
                @RenderBody()
            </main>
        </div>

        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2023 - Pegaqui
            </div>
        </footer>

        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @await RenderSectionAsync("Scripts", required: false)
    </body>
</html>
