@{
    ViewData["Title"] = "Página inicial";
}

<div class="text-center">
    <br />
    <h1 class="display-6" style="font-weight:bold">O que você está procurando?</h1>
    <br />
    <p>Busque por professores, como "Fulano de tal",</p>
    <p>por disciplinas, como "Cálculo 1",</p>
    <p>ou por semestres, como "2022-1" ou "2022/1":</p>
</div>

